In [1]:
import pandas as pd
import numpy as np

In [13]:
##### Basic Operation #####
a = pd.Series([1, 3, 5, np.nan, 44, 1]) ### Create series
b = pd.DataFrame(np.random.randn(6,4), index=['A','B','C','D','E','F'])  ### create matrix
print(b)
print(b.describe()) ### calculate mean, std, min, max
#b.transpose(), b.rows, b.columns, b.values
b.sort_index(axis=0, ascending=False) ### sort by index; or b.sort_value to sort by value

          0         1         2         3
A  1.467626 -0.281849 -0.293338 -1.275489
B -0.804563  0.439639  0.533912 -0.395951
C -1.463519  0.505107 -0.127423  0.300977
D  1.777735 -0.437587  0.651255  0.211014
E -1.891564  0.960291 -0.791418 -2.063371
F -0.228518  0.212603 -0.093076  1.097323
              0         1         2         3
count  6.000000  6.000000  6.000000  6.000000
mean  -0.190467  0.233034 -0.020015 -0.354250
std    1.517633  0.521702  0.537416  1.151297
min   -1.891564 -0.437587 -0.791418 -2.063371
25%   -1.298780 -0.158236 -0.251860 -1.055604
50%   -0.516540  0.326121 -0.110249 -0.092469
75%    1.043590  0.488740  0.377165  0.278486
max    1.777735  0.960291  0.651255  1.097323

          0         1         2         3
F -0.228518  0.212603 -0.093076  1.097323
E -1.891564  0.960291 -0.791418 -2.063371
D  1.777735 -0.437587  0.651255  0.211014
C -1.463519  0.505107 -0.127423  0.300977
B -0.804563  0.439639  0.533912 -0.395951
A  1.467626 -0.281849 -0.293338 -1.275489

In [14]:
##### select #####
print(b.loc[['A','B'],[0,1,2]])     ###select by label
print(b.iloc[1:3,1:3])              ### select by position
print(b.ix[1:3,[1,2]])              ### select by both label and position

          0         1         2
A  1.467626 -0.281849 -0.293338
B -0.804563  0.439639  0.533912
          1         2
B  0.439639  0.533912
C  0.505107 -0.127423
          1         2
B  0.439639  0.533912
C  0.505107 -0.127423

C:\Users\Edward Wang\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
C:\Users\Edward Wang\Miniconda3\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

In [15]:
##### set value #####
b.iloc[1,1]=1
b.loc['A',0]=-1
b.iloc[:,2][b.iloc[:,3]>0]=1
b[4]=np.arange(6,dtype='int64')
print(b)

          0         1         2         3  4
A -1.000000 -0.281849 -0.293338 -1.275489  0
B -0.804563  1.000000  0.533912 -0.395951  1
C -1.463519  0.505107  1.000000  0.300977  2
D  1.777735 -0.437587  1.000000  0.211014  3
E -1.891564  0.960291 -0.791418 -2.063371  4
F -0.228518  0.212603  1.000000  1.097323  5

In [16]:
##### deal with NaN####
b.iloc[2,3]=np.nan
print(b)
print(b.dropna(axis=0,how='any')) ### drop nan row/column how={'any','all'}
print(b.fillna(value=0))          ### fill nan with value
print(b.isnull())                 ### detect where is null
print(np.any(b.isnull()==True))

          0         1         2         3  4
A -1.000000 -0.281849 -0.293338 -1.275489  0
B -0.804563  1.000000  0.533912 -0.395951  1
C -1.463519  0.505107  1.000000       NaN  2
D  1.777735 -0.437587  1.000000  0.211014  3
E -1.891564  0.960291 -0.791418 -2.063371  4
F -0.228518  0.212603  1.000000  1.097323  5
          0         1         2         3  4
A -1.000000 -0.281849 -0.293338 -1.275489  0
B -0.804563  1.000000  0.533912 -0.395951  1
D  1.777735 -0.437587  1.000000  0.211014  3
E -1.891564  0.960291 -0.791418 -2.063371  4
F -0.228518  0.212603  1.000000  1.097323  5
          0         1         2         3  4
A -1.000000 -0.281849 -0.293338 -1.275489  0
B -0.804563  1.000000  0.533912 -0.395951  1
C -1.463519  0.505107  1.000000  0.000000  2
D  1.777735 -0.437587  1.000000  0.211014  3
E -1.891564  0.960291 -0.791418 -2.063371  4
F -0.228518  0.212603  1.000000  1.097323  5
       0      1      2      3      4
A  False  False  False  False  False
B  False  False  False  False  False
C  False  False  False   True  False
D  False  False  False  False  False
E  False  False  False  False  False
F  False  False  False  False  False
True